
/* Network Visuals */

.networkManagerParent {
    padding: 20px;
    background: var(--tertiaryShade);
    box-shadow: rgba(0, 0, 0, 0.3) 0 0 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    width: fit-content;
    margin: auto;
}

.networkGuide {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    background: var(--secondaryShade);
    border-radius: 8px;
    padding: 12px 20px;
    font-size: 15px;
}

.colorGuideParent {
    display: flex;
    align-items: center;
    gap: 5px;
}

.colorGuideColor {
    display: block;
    width: 15px;
    height: 15px;
}

.networkParent {
    display: flex;
    gap: 20px;
    position: relative;
    justify-items: center;
    align-items: center;
    width: fit-content;
    user-select: none;
}

.perceptronLayer {
    display: flex;
    flex-direction: column;
    gap: 10px;
}

.perceptronLayer div {
    z-index: 1;
    width: 50px;
    height: 50px;
    border-radius: 100%;
    background: black;
    color: rgb(255, 255, 255);
    display: flex;
    justify-content: center;
    align-items: center;
    font-weight: 400;
    font-size: 13px;
    border: 2px solid transparent;
    overflow: show;
}

.inputLayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.inputLayer p {
    max-width: 200px;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
}

.descriptionLayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

.inputDescriptionLayer p {
    text-align: right;
}

.descriptionLayer p {
    max-width: 200px;
    font-weight: 500;
    height: 50px;
    line-height: 50px;
}

.linesParent {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
}

.linesParent line {
    stroke-width: 2px;
}