* {
    all: unset;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-decoration: none;
    margin: 0;
    padding: 0;
    font-size: unset;
    font-family: "Poppins", "sans-serif";
    font-weight: unset;
    text-decoration: unset;
    color: unset;
    scroll-behavior: smooth;
}

body {
    background-color: var(--primary);
    color: rgb(255, 255, 255);
    --main: rgb(0, 108, 250);
    --primary: rgb(36, 42, 53);
    --secondary: rgb(59, 59, 59);
    --tertiary: rgb(38, 41, 46);
}

body::-webkit-scrollbar {
    width: 0;
}

style, script, title {
    display: none;
}